* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(photos/page.png);
    background-size: cover;
    overflow: hidden;
    

}
.content {
        margin-top: 20vh;
    }


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 30px 0;
}

.text {
    margin: 0 auto;
    width: fit-content;
    max-width: 80vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(black, black);
    font-weight: 900;
    font-size: 25px;
    border-radius: 10px;
    border: white solid 3px;



}

button {
    padding: 20px 10px;
    border-radius: 10px;
    background-image: linear-gradient(orange, yellow);
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    transition: .1s;
}
button:active {
    scale: .98;
    background-image: linear-gradient(rgb(232, 151, 2), rgb(239, 239, 0));
}
#installBtn {
    background-image: linear-gradient(rgb(144, 0, 255), rgb(0, 166, 255));
    color: white;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    padding: 10px 5px;
    
}

.counter {
    background-image: radial-gradient(circle, rgb(255, 0, 247), rgba(255, 192, 203, 0.643));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px black solid;
    font-weight: 900;
    font-size: 30px;
    color: white;

}
.man {
    width: 300px;
    position: absolute;
    left: 0%;
    z-index: 5;
    rotate: y 180deg;
    transform: translate(54px, -20px);

}

.home {
    border-radius: 50%;
    rotate: y 62deg;
    position: absolute;
    left: 75%; 
}

@media (max-width: 650px) {
    .content {
        margin-top: 30vh;
    }
    .man {
        width: 200px;
    }
    .home {
        width: 100px;
    }
}