* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(photos/page.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;

}

.content {
    margin-top: 20vh;
}

.muted {
    width: fit-content;
    margin: auto;
    background-image: linear-gradient(rgb(255, 183, 0), rgb(255, 106, 0));
    padding: 5px;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 30px 0;
}

.text {
    margin: 0 auto;
    width: fit-content;
    max-width: 80vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(black, black);
    font-weight: 900;
    font-size: 25px;
    border-radius: 10px;
    border: white solid 3px;



}

button {
    padding: 20px 10px;
    border-radius: 10px;
    background-image: linear-gradient(orange, yellow);
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    transition: .1s;
}

button:active {
    scale: .98;
    background-image: linear-gradient(rgb(232, 151, 2), rgb(239, 239, 0));
}

#installBtn {
    background-image: linear-gradient(rgb(144, 0, 255), rgb(0, 166, 255));
    color: white;
    margin: 30px auto;
    font-size: 16px;
    padding: 10px 5px;

}

.counter {
    background-image: radial-gradient(circle, rgb(255, 0, 247), rgba(255, 192, 203, 0.643));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px black solid;
    font-weight: 900;
    font-size: 30px;
    color: white;

}

.man {
    width: 300px;
    position: absolute;
    left: 0%;
    z-index: 5;
    rotate: y 180deg;
    transform: translate(54px, -20px);

}

.home {
    border-radius: 50%;
    rotate: y 62deg;
    position: absolute;
    left: 75%;
}

.road {
    position: absolute;
    height: 5px;
    width: 61vw;
    background-color: rgb(34, 33, 33);
    left: 15%;
    transform: translateY(120px);
}

.road:before {
    content: '';
    border-color: transparent transparent transparent rgb(71, 70, 72);
    border-style: solid;
    border-width: 20px;
    border-radius: 10px;
    position: absolute;
    left: 100%;
    transform: translateY(-50%);
}


@media (max-width: 650px) {

    .content {
        margin-top: 18vh;
    }

    .man {
        width: 200px;
    }

    .home {
        width: 100px;
    }

    .road {
        width: 55vw;
        left: 18%;
        transform: translateY(72px);
    }

}